@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700;800&family=Inter:wght@400;500;600&family=Sora:wght@400;600;700;800&family=Tajawal:wght@400;500;700&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --color-background: #f7fafc;
  --color-foreground: #071a2b;
  --color-primary: #0078a8;
  --color-secondary: #d99000;
  --color-accent: #e65300;

  --font-heading: "Sora", "Cairo", sans-serif;
  --font-body: "Inter", "Tajawal", sans-serif;
}

@layer base {
  .dark {
    --color-background: #06111f;
    --color-foreground: #f4f7fa;
    --color-primary: #009edb;
    --color-secondary: #feb100;
    --color-accent: #ff6300;
  }

  body {
    @apply bg-background text-foreground;
  }
  :lang(ar) {
    line-height: 1.8;
  }
}
